ENGINE=dbengine
NAME=postgresql_site_database_dbname
USER=postgresql_site_database_username
PASSWORD=postgresql_site_database_user_password
HOST=postgresq_server_host
PORT=postgresql_site_database_port
SECRET_KEY = "secret_key"
ADMIN_MAIL = 'mail address to recieve letters from service admins'
SERVER_MAIL_USER = 'server email box address'
SERVER_MAIL_PASSWORD = 'server email app account password'
SERVER_MAIL_HOST = 'smtp.mail.ru for example for mail.ru domain'
SERVER_MAIL_PORT = email_host_port