{% extends "base.html" %}
{% block title %}
{% if title %}
{{ title }}
{% else %}Study online. Учитесь онлайн!
{% endif %}
{% endblock %}
{% block content %}
<div class="pricing-header px-2 pt-md-5 pb-md-4 mx-auto py-5 text-center">
    <h1 class="display-4">Study online.</h1>
</div>

<div class="container-fluid pb-2 main_content_container" style="height: 90%">

    <div class="row row-cols-15 row-cols-sm-2 row-cols-md-3 row-cols-lg-12 row-cols-xxl-12">
        <div class="col-5" style="background-color: #FFF">
            {% if clients %}
            <h4>Клиенты:</h4>
            {% endif %}
            <br>
            {% for client in clients %}
            <a href="{% url 'client_details' pk=client.id %}" type="button"
               class="btn btn-lg btn-outline-primary mb-2 px-5 float-bottom" style="width: 40rem">{{client.full_name}}
            </a>
            {% endfor %}
        </div>
        <div class="col-5">
            {% if messages_to_send %}
            <h4>Сообщения:</h4>
            {% endif %}
            <br>
            {% for message in messages_to_send %}
            <a href="{% url 'message_details' pk=message.id %}" type="button"
               class="btn btn-lg btn-outline-primary mb-2 px-5 float-bottom" style="width: 40rem">{{message.topic}}
            </a>
            {% endfor %}
        </div>
        <div class="col-5">
            {% if mailings %}
            <h4>Рассылки:</h4>
            {% endif %}
            <br>
            {% for mailing in mailings %}
            {% if mailing.status == "Создана" %}
            <a href="{% url 'mailing_details' pk=mailing.id %}" type="button"
               class="btn btn-lg btn-primary mb-2 px-5 float-bottom" style="width: 40rem">Рассылка
                {{mailing.id}}
            </a>
            {% elif mailing.status == "Запущена" %}
            <a href="{% url 'mailing_details' pk=mailing.id %}" type="button"
               class="btn btn-lg btn-success mb-2 px-5 float-bottom" style="width: 40rem">Рассылка
                {{mailing.id}}
            </a>
            {% else %}
            <a href="{% url 'mailing_details' pk=mailing.id %}" type="button"
               class="btn btn-lg btn-secondary mb-2 px-5 float-bottom" style="width: 40rem">Рассылка
                {{mailing.id}}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block navigation %}
<nav class="list-pages" style="height:15px">
    <ul class="list-inline">
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% else %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</nav>
{% endblock %}